Package: com.erik.revealloader
Name: RevealLoader for 24&50
Version: 1.0.1
Architecture: iphoneos-arm
Description: Reveal破解版请至公众号：玩机分享汇。RevealServer Loader for mac App Reveal v50 & v24 ，rootless and iOS15+!
Maintainer: Erik
Author: Erik
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader (>= 2.2.3)
